body{
    background: white;
}
.contact{
    background: gainsboro;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.submit {
    float: right;
}


.portfolio-heading {
    padding-left: 20px;
}

.card-title {
    color: rgb(45, 45, 192);
}

.card {
    padding: 15px;
    border: none;
    background: none;
}

.card-body {
    padding: 0px;
    padding-top: 10px;
}
.grey{
    color: #767676;
}
.black{
    color: black;
    margin-right: 10px;
}
p{
    color:black;
}
img {
    width: 400px;
    height: auto;
    border-radius: 50%;
    padding: 80px;
}
.head{
    display: flex;
}
