<!-- your html code here -->
<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <h1>Contact</h1>
        <p>Duis vel pretium libero, quis porttitor felis. Etiam sit amet velit lacus. Nullam vitae nunc eu lorem auctor
            pellentesque quis molestie ipsum. Mauris luctus felis et fermentum sollicitudin. Curabitur faucibus
            facilisis ullamcorper. In non enim semper, varius mauris at, ultrices sem. Pellentesque augue arcu, molestie
            ac justo eu, egestas porttitor lacus. Donec nibh lacus, suscipit ut felis sit amet, tempor congue nisl. In
            blandit ligula non cursus dignissim. Sed ut fringilla tellus.
        </p>
    </div>
</div>
<div class="col-1"></div>
<div class="row">
    <div class="col-3"></div>
    <div class="contain contact justify-content-start col-6">
        <div class="mb-3">
            <div class="row">
                <div class="col-3">
                    <label for="exampleFormControlInput1" class="form-label"><strong> Your E-mail</strong></label>
                </div>
                <div class="col-9">
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label"><strong> Your Message</strong></label>
                </div>
            </div>
            <div class="col-9">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Please enter your message here..."></textarea>
            </div>
        </div>
        <div class="col-3"></div>
        <div class="col-9">
        </div>
        <br>
        <div class="submit">
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
    </div>
</div>
</div>
</div>