<!-- your html code here -->
<div style="display: flex; justify-content: center; align-items: center;">
    <div class="heading">      
        <div class="head"> 
             <h1 class="black">This First Heading</h1>
              <h1 class="grey">Will Catch Your Eye</h1>
        </div>
    
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet fugit unde totam autem 
            <br/>
            accusamus a, magnam veniam aut sed quas est modi quaerat. 
            <br/>
            Et suscipit qui tempora repudiandae id aut?</p>
    </div>
    <div class="img">
        <img src="./assets/img/1.jpg" alt="Walter White">
    </div>
</div>

    
