<!-- your html code here -->
<div class="portfolio-heading">
<h3>Portfolio</h3>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae minus reiciendis inventore odit optio, quaerat architecto. Impedit odit doloribus perspiciatis numquam delectus, ratione qui facilis doloremque tempore, error laudantium suscipit.</p>
</div>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="https://picsum.photos/700/400" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Project Name</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla pariatur deserunt ducimus quam nobis, voluptatem nam quisquam veniam at reiciendis numquam nemo odio dicta quae aliquid debitis illum sequi totam.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://picsum.photos/700/400" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Project Name</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem corrupti, rem est vel, nemo ad porro repellat, vitae culpa aspernatur animi incidunt possimus similique? Consequatur accusamus in temporibus rerum laborum.</p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://picsum.photos/700/400" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Project Name</h5>
      <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab accusamus nobis ducimus voluptatibus nesciunt minima dolore quidem ex excepturi recusandae repellendus officiis dolores ullam autem mollitia earum eligendi, non ipsum.</p>
    </div>
  </div>
</div>

